body, ul, li {
  font-family: Arial, Helvetica, sans-serif;
  color: #323f41;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important;
  color: #323f41; }
  a:hover {
    color: #337ab7; }

#overlay {
  min-height: calc(100vh);
  background: -moz-linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%);
  background: -webkit-linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%);
  background: -o-linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%);
  background: -ms-linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%);
  background: linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%); }
  #overlay .wrapper {
    position: relative;
    min-height: 100%; }

header .sub_head {
  margin-top: 25px;
  margin-bottom: 25px; }
header .menu {
  padding: 10px 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: -moz-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -webkit-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -o-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -ms-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%); }
  header .menu .active a {
    color: red; }
  header .menu ul li {
    display: inline-block;
    list-style: none;
    margin-left: 25px; }

section .block {
  background-color: #fff; }

.slider {
  margin: 10px 0;
  position: relative;
  min-height: 169px; }
  .slider li {
    list-style: none; }

.sub_block {
  padding: 10px;
  font-size: 10px;
  max-height: 220px;
  overflow: hidden;
  background: -moz-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -webkit-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -o-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -ms-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  border: 5px solid #fff; }
  .sub_block img {
    margin-top: 25px; }

.active {
  color: #0096b5; }

footer .footer {
  padding: 10px 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background: -moz-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -webkit-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -o-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -ms-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%); }

.main_block {
  padding-top: 25px; }
  .main_block .goods_container {
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px 0;
    border: 1px solid #E9E9E9;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
  .main_block .goods_img img {
    width: 100%; }
