@charset "UTF-8";
body, ul, li {
  font-family: Arial, Helvetica, sans-serif;
  color: #323f41;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important;
  color: #323f41; }
  a:hover {
    color: #337ab7; }

#overlay {
  min-height: calc(100vh);
  background: -moz-linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%);
  background: -webkit-linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%);
  background: -o-linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%);
  background: -ms-linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%);
  background: linear-gradient(top, #EAEAEA 0%, #C0C9CF 100%); }
  #overlay .wrapper {
    position: relative;
    min-height: 100%; }

header .sub_head {
  margin-top: 25px;
  margin-bottom: 25px; }
header .menu {
  padding: 10px 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: -moz-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -webkit-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -o-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -ms-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%); }
  header .menu .active a {
    color: red; }
  header .menu ul li {
    display: inline-block;
    list-style: none;
    margin-left: 25px; }

section .about {
  margin-bottom: 25px; }
  section .about.logo {
    text-align: center; }
  section .about img {
    width: 300px; }
  section .about span {
    color: #0096b5; }
section .block {
  background-color: #fff;
  padding-top: 25px; }

.nav_menu ul li {
  list-style: none;
  cursor: pointer; }

.news_block ul {
  border-bottom: 2px dashed #0096b5;
  border-top: 2px dashed #0096b5; }
  .news_block ul li {
    list-style: none;
    font-size: 12px;
    margin: 10px 0; }
    .news_block ul li:before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #0096b5;
      display: inline-block;
      margin-right: 10px; }

.slider_cont {
  position: relative; }
  .slider_cont .slide_menu {
    position: absolute;
    bottom: 0; }
  .slider_cont i {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 24%; }
    .slider_cont i:last-child {
      bottom: 0;
      left: 35%; }

.slider {
  margin: 10px 0;
  position: relative;
  min-height: 169px; }
  .slider li {
    list-style: none; }

.sub_block {
  padding: 10px;
  font-size: 10px;
  max-height: 220px;
  overflow: hidden;
  background: -moz-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -webkit-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -o-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -ms-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  border: 5px solid #fff; }
  .sub_block img {
    margin-top: 25px; }

.active {
  color: #0096b5; }

footer .footer {
  padding: 10px 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background: -moz-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -webkit-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -o-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: -ms-linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%);
  background: linear-gradient(top, #F6F6F6 0%, #EAEAEA 100%); }

.main_block .goods_container {
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 10px 0;
  border: 1px solid #E9E9E9;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
  .main_block .goods_container i {
    color: #ddd;
    cursor: pointer; }
    .main_block .goods_container i.rotate {
      -moz-transform: rotate(180deg);
      /* ╨Ф╨╗╤П Firefox */
      -ms-transform: rotate(180deg);
      /* ╨Ф╨╗╤П IE */
      -webkit-transform: rotate(180deg);
      /* ╨Ф╨╗╤П Safari, Chrome, iOS */
      -o-transform: rotate(180deg);
      /* ╨Ф╨╗╤П Opera */
      transform: rotate(180deg); }
    .main_block .goods_container i:hover {
      color: #e35d31; }
.main_block .goods_img img {
  width: 100%; }
