<div class="row">
<order>
	<div class="col-md-4">
		<div class="nav_menu">
			<ul>
				<li ng-repeat="index in sub.order" ng-class="{active: sub.maino == ($index+1)}" ng-click="sub.maino = ($index+1)">
					{{index.title}}
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		<div ng-repeat="orders in sub.order | filter: {id:sub.maino}">
			<h2>{{orders.title}}</h2>
			<img ng-src="{{orders.img}}" class="order_img">
			<p>{{orders.content}}</p>
		</div>
	</div>
	</order>
</div>	