<slider>
<div class="slider_cont">
	<ul class="slider">
		<li ng-repeat="slides in main.nsw | filter:{id: main.fil}" class="animation">
			<img ng-src="{{slides.img}}">
		</li>
	</ul>
<img src="img/frontpage_slider_wave_overlay.png" alt="slidemenu" class="slide_menu">
<i class="fa fa-angle-left fa-3x" aria-hidden="true" ng-click="main.right()"></i>
<i class="fa fa-angle-right fa-3x" aria-hidden="true" ng-click="main.left()"></i>
</div>
</slider>
<h2>Очистка воды с 1936 года</h2>
<div>Компания EUROWATER обладает огромным мировым опытом в области технических решений, производства и реализации систем очистки воды для промышленности с высоким качеством, энергоэффективностью и долгим сроком эксплуатации. Очистка воды заключается в выборе наиболее оптимальных материалов, внедрении ноу-хау, а так же в работе высококвалифицированных сотрудников. Мы гарантируем долгий срок службы, высокое качество, надежность и минимальные затраты на обслуживание. </div>
<main-block>
<div class="col-md-6 sub_block" ng-repeat="bloc in content.block" ng-init="content.nnn()">
	<div class="row">
		<div class="col-md-7">
			<h4>{{bloc.title}}</h4>
			<p>{{bloc.text}}</p>
		</div>
		<div class="col-md-5">
			<img ng-src="{{bloc.img}}" alt="">
		</div>
	</div>
</div>
</main-block>
