<product>
<div class="row">
	<input type="text" name="" ng-model="article"><div>{{total.length}}</div>
	<div class="col-md-11 goods_container" ng-repeat="goods in total = (product.goods | filter:{id:article})">
		<div class="col-md-4 goods_img">
			<img ng-src="{{goods.img}}" alt="">
		</div>
		<div class="col-md-8">
		<div>Артикул:{{goods.id}}</div>
		<div>Название: {{goods.title}}</div>
		<div>{{goods.size}}</div>
		<i class="fa fa-chevron-circle-down" aria-hidden="true" ng-click="goodsBlock = !goodsBlock"></i>
		<div ng-if="goodsBlock">
		<div>Описание:</div>
			{{goods.content}}
		</div>	
		</div>
	</div>
	
</div>
</product>